html,
body {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    height:100%;
    background-color: #f0f8ff;
}

.actionText {
  font-size: 12px;
  color: red;
  align-items: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  height: 100%;
}

#main {
  width: 100%;
  height: 275px;
}

.circleContainer {
  width: 100%;
  height: calc(100% - 307px);
  background-color: #f0f8ff;
}

.circle {
  height: 30vh;
  width: 30vh;
  background-color: #0da2ff;
  /* border-radius of 50% is what creates a circle */
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: none;
}

/* pulse animation */
@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity:0.75;
  }
  100% {
    transform: scale(1.35);
    opacity:0;
  }
}